<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/inicio"></ion-icon>
    </div>
    <h1>Ya casi estamos</h1>
    <p>A continuación selecciona como registrarte!</p>
    <div class="container">❤❤❤❤❤❤</div>
  </div>
  
  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
      
        <div id="botones">
         <ion-button routerLink="/inisesion" fill="clear" expand="block" class="custom-button" id="clase-color">
            <img src="assets/docente.png">
            <p>Docente</p>   
          </ion-button>
        </div>
      
        <div id="botones" class="img-est">
          <ion-button routerLink="/inisesion-alumno" fill="clear" expand="block" class="custom-button" id="clase-color">
             <img src="assets/alumno.png">
             <p>Alumno</p>   
           </ion-button>
        </div>
      
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
