<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/inicio"></ion-icon>
    </div>
    <div class="container" *ngIf="priority === 'false'">
      <div class="mensaje">
        <img src="assets/alumno.png" class="icon">
        <p>¡Bienvenido Alumno!</p>
        
      </div>
    </div>
    <div class="container" *ngIf="priority === 'true'">
      <div class="mensaje">
        <p>¡Bienvenido Profesor!</p>
        <img src="assets/docente.png" class="icon">
      </div>
    </div>
    <div class="container">❤❤❤❤❤❤</div>
  </div>
  
  <ion-item>
    <ion-label>
      <h2>Nombre</h2>
      <ion-input style="font-size: 15px; margin-left: -6px;" type="text" [(ngModel)]="usuario.nombre"></ion-input>
    </ion-label>
    <ion-button  expand="block" class="color" shape="round">Cambiar</ion-button>
    <ion-icon name="accessibility-outline"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Email</h2>
      <p>{{ usuario.email }}</p>
    </ion-label>
    <ion-icon name="chatbox-outline"></ion-icon>
  </ion-item>

  <ion-item *ngIf="priority === 'true'">
    <ion-label>
      <h2>Asignatura 1</h2>
      <p>{{ usuario.asignatura1 }}</p>
    </ion-label>
    <ion-icon name="documents-outline"></ion-icon>
  </ion-item>

  <ion-item *ngIf="priority === 'true'">
    <ion-label>
      <h2>Asignatura 2</h2>
      <p>{{ usuario.asignatura2 }}</p>
    </ion-label>
    <ion-icon name="documents-outline"></ion-icon>
  </ion-item>

  <ion-item *ngIf="priority === 'false'">
    <ion-label>
      <h2>Carrera</h2>
      <p>{{ usuario.carrera }}</p>
    </ion-label>
    <ion-icon name="documents-outline"></ion-icon>
  </ion-item>

  <ion-item> 
    <ion-label>
      <h2>Sede</h2>
      <ion-select interface="action-sheet" placeholder="{{ usuario.sede }}" [(ngModel)]="usuario.sede">
        <ion-select-option value="Sede Maipú">Sede Maipú</ion-select-option>
        <ion-select-option value="Sede Concepción">Sede Concepción</ion-select-option>
        <ion-select-option value="Sede San Joaquín">Sede San Joaquín</ion-select-option>
        <ion-select-option value="Sede San Andrés">Sede San Andrés</ion-select-option>
        <ion-select-option value="Sede San Bernardo">Sede San Bernardo</ion-select-option>
        <ion-select-option value="Sede Los Ángeles">Sede Los Ángeles</ion-select-option>
      </ion-select>
    </ion-label>
    <ion-icon name="storefront-outline"></ion-icon>
  </ion-item>

  <ion-button class="color" id="out2" *ngIf="priority === 'true'" (click)="updateProfesor()" shape="round">Guardar Cambios</ion-button>
  <ion-button class="color" id="out2" *ngIf="priority === 'false'" (click)="updateAlumno()" shape="round">Guardar Cambios</ion-button>

</ion-content>
