.titulo{
    font-weight: bold;
}
.pe{
    font-size: 0.8em;
    color: #F39C12;
    font-weight: bold;
    margin-top: 20px; 
    text-align: justify;
    margin-top: 10px;
}
.contenido{
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
}
ion-card {
  background-color: #f4f4f4;
}
ion-card {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  border: 1px solid #ccc; 
}
  